body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dashBoard {
  display: flex;
  padding: 0px 20px;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}

.videoContainer {
  width: 640px;
  height: 360px;
  position: relative;
  flex-grow: 1;
  background-color: black; /* Ensure visibility */
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
}

.qoeContainer {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid #ddd;
  height: 328px;
  background-color: #f9f9f9;
  max-width: 800px;
  font-family: Arial, sans-serif;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.metrics p {
  font-size: 14px;
  margin: 5px 0;
}

.events {
  height: 105px;
  overflow-y: auto;
  padding: 5px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style: none;
}

.events li {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.events li:last-child {
  border-bottom: none;
}
